@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #3b82f6;
  --rdp-background-color: #e5e7eb;
  margin: 1em;
}

.rdp-day_selected:not([disabled]) { 
  background-color: var(--rdp-accent-color);
  color: white;
}

.rdp-day_selected:hover:not([disabled]) {
  background-color: var(--rdp-accent-color);
  opacity: 0.8;
}